@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Yatra+One&display=swap');

/* --- RESET --- */
html{
    font-family: 'Yatra One' ;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1,p{
    margin-top: 0;
    margin-bottom: 0;
}

button{
    font-family: inherit;
    cursor: pointer;
}